.header{
    margin: 0;
}
.header__content{
  
    width: 100%;
    min-width: 320px;
    display: flex;
    align-items: center;
    padding: 24px 16px;
    background-color: #fff;
    border-bottom: 1px solid #d9fff5;
    z-index: 220;
}
.header__img-group{
    position: relative;
}  
.header__seporator{
    width: 2px;
    height: 32px;
    margin: 0 16px;
    background-color: #eaeaea;
    border-radius: 1px;
}
.modal__header-text{
    font-family: 'TTLakes-Bold.ttf';
    margin-bottom: 24px;
    font-size: 24px;
}
.modal__header-text::before{
    content:"|" ;
    width: 1px;
    height: 40px;
   color: #41F6D7;
   margin-right: 16px;
   border-radius: 2px;
   margin-left: -20px;
   border-radius: 0 5px 5px 0;
   }
   .sidebar__header-text{
    font-family: 'TTLakes-Bold.ttf';
    margin-bottom: 24px;
    font-size: 24px;
}
.sidebar__header-text::before{
    content:"|" ;
    width: 1px;
    height: 40px;
   color: #41F6D7;
   margin-right: 16px;
   border-radius: 2px;
   margin-left: -20px;
   border-radius: 0 5px 5px 0;
   }
 
            @media (min-width:768px) {
                .header__content{
                    width: 100%;
                }
                .header__logo-separator{
                    width: 2px;
                    height: 32px;
                    margin: 0 16px;
                    background-color: #eaeaea;
                    border-radius: 1px;
                }
            .modal__header-text{
                margin-top: -76px;
                margin-left: 32px;
                margin-right: 32px;
            }
            .modal__header-text::before {
                margin-right: 30px;
                margin-left: -68px;
            }
            .sidebar__header-text{
                margin-top: -76px;
            }
            .sidebar__header-text::before {
                margin-left: -36px;
                margin-right: 24px;
            }
        }
        @media  (min-width:1440px){
            .header__content{
                border-bottom: none;
                width: 100%;
                background: #F8F8F8;
                position: relative;
                padding: 24px 0;
            }
            .header__seporator{
                display: none;
            }
            .header__logo-separator{
                display: none;
            }
            .header__button-burger{
                display: none;
            }
           
                .header__img-group{
                    display: none;
                }
            }
        
            @media  (min-width:1440px){
                .header__content{
                    padding-top: 42px;
                }
            }
        @media  (min-width:1800px){
            .header__content{
                margin: auto;
            }
        }
.button{
    background-color:#FF3E79 ;
    display: inline-block;
    border: none;
    background-repeat:no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.5s,height 0.5s, background-color 0.5s, transform 0.5s;
}
.modal__button-close{
    background-color:#FF3E79; 
    background-image: url(./static/x.svg);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
    margin-bottom: 40px;
    }
    .modal__button-send{
        background-color:#FF3E79; 
        background-image: url(./static/send.svg);
        border:none;
        border-radius: 16px;
        Font-size: 12px;
        font-family: 'TTLakes-Bold.ttf';
        Width:136px;
        Height:32px;
        background-repeat:no-repeat;
        background-position: center;
        cursor: pointer;
        margin: 19px 16px 75px 152px;
    }
    
.button:hover{
    background-color: blueviolet;
     width: 40px;
     height: 40px;
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
 }
.header__button-burger{
    display: flex;
    margin-right: 16px;
    border:#ff3e79;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ff3e79;
      cursor: pointer;
      background-position: center
      
  }
       .header__button-burger:before{ 
          content:url(./static/icon1.png);
          margin: 12px;
      }
      .aside__button-search{
        margin-left: 177px
    }
      .sidebar__button-close{
        background-color:#FF3E79; 
        background-image: url(./static/x.svg);
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-repeat:no-repeat;
        background-position: center;
        cursor: pointer;
        margin-bottom: 40px;
        }
        .sidebar__button-send{
            background-color:#FF3E79; 
            background-image: url(./static/send.svg);
            border:none;
            border-radius: 16px;
            Font-size: 12px;
            font-family: 'TTLakes-Bold.ttf';
            Width:136px;
            Height:32px;
            background-repeat:no-repeat;
            background-position: center;
            cursor: pointer;
            margin: 19px 16px 75px 152px;
        }
 .header__button-phone{
        background: #FF3E79 url(./static/phone.png);
        background-repeat:no-repeat;
        background-position: center;
        display: inline-flex;
    }
    .header__button-message{
        background: #FF3E79 url(./static/message.png);
        display: inline-flex;
        margin: 0 14px;
        background-repeat:no-repeat;
        background-position: center;
        display: inline-flex;
    }
    .header__button-contact{
        background: #FF3E79 url(./static/contacts.png);
        background-repeat:no-repeat;
        background-position: center;
        display: inline-flex;
    }
    .header__button-service{
        background: #FF3E79 url(./static/Group1.png);
        background-repeat:no-repeat;
        background-position: center;
        display: inline-flex;
    }
.header__button-search{
    background: #FF3E79 url(./static/icon.png);
    margin-left: 16px;
    background-repeat:no-repeat;
    background-position: center;
    display: inline-flex;
}
.header__button-searchDesctop{
  display: none;
}
.header__button-serviceDesctop{
   display: none;
}
.header__button-phone, .header__button-message, .header__button-contact{
display: none;
}
.button__add-more{
    border: none;
    text-decoration: none;
    Font-size: 16px;
    color: #1B1C21;
    background:#F8F8F8 ;
    font-family:'TTLakesCondensed-Medium.ttf';
}
   .button__add-more:before{
    content: url(./static/icon3.png);
    width: 8px;
    height: 5px;
   margin-right:16px;
   margin-left: 24px;
}
.aside__button-close{
    margin-right: 17px;
    background-image:url(./static/x.png);
}
.aside__button-search{
    background-image:url(./static/search.png);
    margin-left: 170px;
}
.social__button-phone{
    background-image: url(./static/phone.png);
    margin:0 16px 0 0;
}
.social__button-message{
    background-image: url(./static/message.png);
    margin-right: 16px;
}
.social__button-contact{
    background-image: url(./static/contacts.png);
    margin-right: 16px;
}
.footer__button-lang{
    margin: 22px 0 1000px 0;
  }
.footer__button-ru{
    font-family:'TTLakesCondensed-Medium.ttf';
    border: 0;
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;  
    cursor: pointer;
}
.footer__button-ru:hover {
    transform: scale(1.2);
}
.footer__button-en{
    font-family:'TTLakesCondensed-Medium.ttf';
    border: 0;
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;  
}
.footer__button-en:hover {
    transform: scale(1.2);
}
.footer__button-ch{
    font-family:'TTLakesCondensed-Medium.ttf';
    border: 0; 
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;  
}
.footer__button-ch:hover {
    transform: scale(1.2);
}
.footer__button-ru:active:hover{
    text-decoration: none;
    color: #1B1C21;
}
.footer__button-en:active:hover{
    text-decoration: none;
    color: #1B1C21;
}
.footer__button-ch:active:hover{
    text-decoration: none;
    color: #1B1C21;
}
.footer__button-ru:focus{
    color: #7E7E82;
}
.footer__button-en:focus{
    color: #7E7E82;  
}
.footer__button-ch:focus{
    color: #7E7E82;  
}
@media (min-width:768px) {
    .header__button-phone, .header__button-message, .header__button-contact{
        display:inline-block;      
            }
         .header__button-burger{
        margin: 0;
         }
         .header__button-left{
             display: inline;
             margin-left: 265px;
         }
         .modal__button-close{
            margin-left: -100px;
        }
        .modal__button-send{
            margin-bottom: 684px;
            margin-right: 0;
            margin-left: 245px;
        }
        .sidebar__button-close{
            margin-left: -100px;
            
        }
        .sidebar__button-send{
            margin-bottom: 684px;
            margin-right: 0;
            margin-left: 245px;
        }
            .header__button-main{
                margin:24px 0 24px 22px;
            }
            .header__button-message{
                display: inline;
            }
            .header__button-service{
                margin-left:0;
            }
            .header__button-search{
                margin-left: 14px;
            }
            .header__button-main:before{
                position: absolute;
                content:"|";
               left: 80px;
               top:28px;
                width: 2px;
                height: 32px;
                color: #EAEAEA;
                background-color: #EAEAEA;
            }
             .button__add-more-active{
                 height: auto;
             }
            .button__add-more{
                margin-top: 10px;
                cursor: pointer;
                 }
             .button__add-more::before{
                 width: 100px;
                 height: 24px;
                 margin:10px 27px 15px 8px ;
                } 
                .aside__button-search{
                    margin-left: 177px;
                }
        }
        @media  (min-width:1120px){
            .header__button-left{
            margin-left: 615px;
            }
        }
        @media  (min-width:1440px){
            .header__button-main,.header__button-phone, .header__button-message, .header__button-contact,
                .header__button-search, .header__button-service{
                    display: none;}
                    .header__button-searchDesctop, .header__button-serviceDesctop{
                        display:inline-block;
                    }
                    .aside__button-search{
                            margin-left:243px;
                        }
                        .header__button-left{
                            display: inline;
                            margin-left: 265px;
                        }
                    .header__button-burger{
                        display: none;
                    }
                    .aside__button-close{
                        display: none;
                    }
                    .aside__button-search {
                        display: inline-block;
                        margin-left: 224px;
                    }
                        .header__button-searchDesctop{
                            background: #FF3E79 url(./static/icon.png);
                            margin-left: 160px;
                            background-repeat:no-repeat;
                            background-position: center;
                        }
                        .header__button-serviceDesctop{
                            background: #FF3E79 url(./static/Group1.png);
                            margin-left:540px;
                            background-repeat:no-repeat ;
                            background-position: center;
                        }
                  
                    .button__add-more::before{
                        margin:0; 
                        margin-right: 16px;
                        margin-left: 6px;
                       }
                }
                @media  (min-width:1800px){
                    .header__button-serviceDesctop::before{
                        left: 1055px;
                    }
                    .header__button-searchDesctop::before{
                        left: 1260px;
                    }
                }


.main__description{
    width: 100%;
    display: flex;
    flex-direction: column ;
    background: #F8F8F8;
}

      .main__text{
        font-family: 'TTLakesCondensed-Regular.ttf';
        color: #1B1C21;
        Font-size: 14px;
      }
   .text__main-text{
       margin-bottom: 16px;
       margin-left:16px;
       width: auto;
   }
.text__main-textTablet, .text__main-textDesctop{
    display: none;
    
}
.text__main-textAdd-more{
    display: none;
}
.text__main-textAdd-more-active{
    height: auto; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-left: 16px;
    width: auto;
    overflow: hidden;
}
.text__img {
    Width :320px;
    margin-top: 16px;
    margin-bottom: 36px;
    }
    @media (min-width:768px) {
     
        .main__description{
            width: 100%;
            flex-direction: row;
        }
        .main__text{
            margin-left: 24px;
        }
             .text__main-textDesctop{
                display: inline;
                Width: 312px;
                Height:160px;
                margin-bottom: 10px;
                margin-left: 0;
                display: none;
             }
             .text__main-textTablet-close{
                 display: none;
             }
             .text__main-textTablet{
                 display: inline;
                 Width: 312px;
                 Height:160px;
                 margin-bottom: 10px;
                 margin-left: 0;
             }
            
         .text__img{
             width: 360px;
            display: block;
            border-radius: 2%;
            margin: 0 25px 40px 66px;
            width: 360px;
            height: 200px;
             }
         }
         @media  (min-width:1120px){
        .text__img{
            width: 600px;
            margin-left:31px;
            height: 300px;
        } 
        }
         @media  (min-width:1440px){
          
            .main__description{
                    background: #F8F8F8;
                    width: 100%;
                }
            .main__text{
                margin-left: 34px;
                margin-top: 20px;
            }
         
          
            .text__img{
                width: 532px;
             border-radius: 2%;
             margin:0 30px 44px 22px;

                }
          
            }
            @media  (min-width:1800px){
                .main__description{
                    margin: auto;
                }
            }
.menu__content{
    width: 100%;
    display: flex;
    flex-direction: column ;
    background: #F8F8F8;    
}
.menu__title {
    font-family:'TTLakes-Bold.ttf';
    padding: .6em 0;
    margin: 24px 16px;
}
.menu__title:before{
    content:"|" ;
    width: 1px;
    height: 40px;
   background-color: #41F6D7;
   color: #41F6D7;
   margin-right: 16px;
   border-radius: 2px;
   margin-left: -20px;
   }
   .menu__title-desctop{
    display: none ;
}
.menu__title-request{
    display: none;
}
.menu__title-status{
    display: none;
}
    .menu__list{
        font-family:'TTLakesCondensed-Medium.ttf';
        Font-size: 16px;
        color: #7E7E82;
        overflow-x: scroll;
        display: flex;
        list-style: none;
        white-space: nowrap;
   
      }
      .menu__list::-webkit-scrollbar {
        width: 0;
      }
      .menu__item:hover {
        border: 2px #b8ffec solid;
        border-radius: 6px;
        background-color: #FFF; 
      }
      .menu__item {
        list-style-type: none;
        padding:8px 16px 8px 16px;
        margin:0 19px 24px 16px;
        font-size: 16px;
        line-height: 24px;
        box-sizing: border-box;
        border: 2px solid #F8F8F8;
      }
      .menu__link{
        white-space: nowrap;
        text-decoration: none;
        color: #7E7E82;
      }
      .aside__menuDirect{
        padding-inline-start: 0px;
        margin: 0;
        }
        .aside__menuItem{
            font-family:'TTLakesCondensed-Medium.ttf';
            list-style:none;
            white-space:nowrap;
            margin-left: 0;
        }
        .aside__menuLink{
             cursor: pointer;
            text-decoration: none;
            color: #1B1C21;
            padding: 0 0 0 1.5em ;
            font-size: 16px;
            display: flex;
            position: relative;
            align-items: center;
            height: 32px;
            margin: 0 0 24px 0;
            transition: 0.5s; 
        }  
        .aside__menuLink:hover {
            transform: scale(0.9);
        }
         .aside__menuLink:hover::before{
            content:"";
            background-color: #41F6D7;
            border-radius: 0 5px 5px 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
        } 
        .aside__menuLink:focus{
            color: #7E7E82;   
        }
        .sidebar__menu{
            margin-top: 24px;
            margin-left: 16px;
            margin-right: 16px;
        }
        .modal__menu{
            margin-top: 24px;
            margin-left: 16px;
            margin-right: 16px;
        }
      @media (min-width:768px) {
        .menu__content{
            width: 100%;
            flex-direction: column;
            background: #F8F8F8;
        }
        .aside__menuLink{
            margin: 0 0 32px 0;
        }
        .sidebar__menu {
            margin-top: 24px;
            margin-left: 32px;
            margin-right: 32px;
        }
        .modal__menu{
            margin-top: 24px;
            margin-left: 32px;
            margin-right: 32px;
        }
    }
    @media  (min-width:1440px){
        .menu__content{
            width: 100%;}
            .menu__title{
                display: none;
            }
            .menu__title-desctop{
                display: inline;
                font-family:'TTLakes-Bold.ttf';
            }
            .menu__title-request{
                position: absolute;
               display: inline;
                left: 720px;
                top: 53px;;
                color: #1B1C21;
                font-family:'TTLakesCondensed-Medium.ttf';
                Font-size: 16px;
            }
            .menu__title-status{
                position: absolute;
                display: inline;
                height: 24px;
                left: 925px;
                top: 53px;
                color: #1B1C21;
                font-family:'TTLakesCondensed-Medium.ttf';
                Font-size: 16px;
            }
            .menu__title-desctop:before{
                content: "|";
                width: 3px;
                height: 40px;
                color: #41F6D7;
                margin-right: 34px;
                border-radius: 5px;
                margin-left: -270px;
               }     
        .menu__list{
            flex-direction: row ;
            flex-wrap: wrap;
            list-style: none;
            overflow-x:visible;
            margin-left: 32px;
        }
        .menu__item{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: -2px;
            border: 2px solid #ccc transparent;
        }
    }
    @media  (min-width:1800px){
        .menu__content{
            margin: auto;
        }
    }


.aside{
    display: flex;
   
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    z-index: 10;
    position: fixed;
   overflow-y: scroll;
   visibility: hidden;
    top: 0;
    transition: all 0.5s;
     opacity: .95;
}
.aside.open-menu{
    visibility: visible;
}
.aside__header{
    margin:23px 24px 32px 24px; 
  
  
    min-width: 320px;
    display: flex;
    align-items: center;
}
.aside__main{
    width: 320px; 
    flex-direction: column;
    justify-content: space-around;
}
.aside__footer{
    justify-content: space-between;
    display: block;
    margin-top: 217px;
    margin-left: 24px;
}
.aside__header-img{
    position: absolute;
    top: 24px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.aside__header-img:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.contact__mail{
    margin: 16px 0 12px 0;
    transition: 0.5s; 
    display: block;
    cursor: pointer; 
    }
    .contact__mail:hover {
        transform: scale(1.2);
    }
    .contact__mail-link{
        text-decoration: none;
        color: #1B1C21;
        font-family:'TTLakesCondensed-Medium.ttf';
    }
    .contact__phone{
        font-family:'TTLakes-Bold.ttf';
        Font-size: 24px;
        color: #1B1C21;
    text-decoration: none;
    transition: 0.5s; 
    display: block; 
    cursor: pointer;
    }
    .contact__phone:hover {
        transform: scale(1.2);
    }
    @media (min-width:360px) {
        .aside{
            width: 360px;
        }
    }
    @media (min-width:768px){
        .aside{
            width: 320px;
            box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
           
        }}
        @media (min-width:1120px){
       
        }
        @media (min-width:1440px){
            .body{
                display: flex;
            }
            .aside{
            box-shadow: none;
            max-width: 310px;
            position: static;
            overflow :hidden;
            z-index: 10;
            display: flex;
            display: block;
            visibility: visible;
            height: auto;
        }
        .aside__header{
            margin-top: 47px;
        }
        .aside__header-img{
            margin-top: 15px;
        }
        }
       
.container__wrapper-fade{
    opacity: 0.1;
    pointer-events: none;
}
.container__wrapper{
  overflow: hidden;
}

@media (min-width:1440px){
 .container__wrapper{
   width: 1120px;

 }
.body{
  overflow-x:hidden;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
}
.body-fade{
  opacity: 0.1;
  pointer-events: none;
}
}
.modal__feedback{
    position: fixed; 
    right: 0;
    max-width: 320px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: fixed;
   visibility: hidden;
    top: 0;
    transition: all 0.5s;
     opacity: .95;
}
.modal__feedback.close-modal{
    visibility: visible;
    transform: scaleX(1);
}
.modal__input{
    display: flex;
flex-direction:column ;
}
.modal__name{
    border: 1px solid #EAEAEA;
    border-radius: 8px ;
    margin-bottom: 16px;
    Width:288px;
    Height:48px;
    padding-left: 16px;
}
.modal__phone{
    padding-left: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px ;
    margin-bottom: 16px;
    Width:288px;
    Height:48px;
}
.modal__mail{
    padding-left: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px ;
    margin-bottom: 16px;
    Width:288px;
    Height:48px;
}
.modal__message{
    padding-left: 16px;
    padding-top: 12px;
    border: 1px solid #EAEAEA;
    border-radius: 8px ;
    margin-bottom: 16px;
    Width:288px;
    Height:118px;
}
input::placeholder{
    color:#B5B6BC;
    Font-family:'TTLakesCondensed-Medium.ttf';
}
textarea::placeholder{
    color:#B5B6BC;
    Font-family:'TTLakesCondensed-Medium.ttf';
}
.modal__footer-text{
    font-family:'TTLakesCondensed-Medium.ttf' ;
    Font-size: 14px;
    color: #7E7E82;
}
@media (min-width:768px){
    .modal__feedback{
        max-width: 440px;
        box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    }
  
    .modal__name{
        height: 48px;
        width: 376px;  
    }
    .modal__phone{
        height: 48px;
        width: 376px;
    }
    .modal__mail{
        height: 48px;
        width: 376px;
    }
    .modal__message{
        height: 118px;
        width: 376px;
    } 
    }
.sidebar{
    position: absolute; 
    right: 0;
    max-width: 320px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    z-index: 10;
   visibility: hidden;
    top: 0;
    transition: all 0.5s;
     opacity: .95;
     height: 100vh;
}
.sidebar.close-sidebar{
    visibility: visible;
    transform: scaleX(1);
}
   .sidebar__phone{
        padding-left: 16px;
        border: 1px solid #EAEAEA;
        border-radius: 8px ;
        Width:266px;
        Height:48px;
        color: #EAEAEA;
        margin-bottom: 16px;
}
input::placeholder{
    color:#B5B6BC;
    Font-family:'TTLakesCondensed-Medium.ttf';
}
.sidebar__footer-text{
    font-family:'TTLakesCondensed-Medium.ttf' ;
    Font-size: 14px;
    color: #7E7E82;
}
@media (min-width:768px){
    .sidebar{
        max-width: 440px;
        box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    }
    .sidebar__phone{
        height: 48px;
        width: 376px;
    }
}

.swiper__section {
    position: relative;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.swiper__header {
    background: linear-gradient(90deg,  #F8F8F8 0%, #FFFFFF 100%);
    border-top: 3px solid #D9FFF5;
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    color: #7E7E82;
    line-height: 24px;
    font-family: "TT Lakes";
}
.container {
    padding-left: 16px;
}
.main__swiper {
    width: auto;
    margin: 16px 0px 16px 0px;
}
.swiper-container {
    width: 100%;
    padding-bottom: 28px; 
    z-index: 1;
    overflow: hidden;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
.container::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 81px;
    right: 1px;
    top: 10px;
    z-index: 1;
    filter: blur(8px);
}
.main__brend {
    display: flex;
    align-items: center;
    width: 238px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    position: relative;
    height: 72px;
    padding-left: 16px;
}
.main__link {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.link-brand {
    height: 40px;
    width: 40px;
    right: 16px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#FFFFFF url(./static/dropdown.svg) no-repeat center;
    border:2px solid #FF3E79; 
    cursor: pointer;
    transition: width 0.5s,height 0.5s, background-color 0.5s, transform 0.5s;
}
.link-brand:hover{
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.container__button-showMore {
    position: relative;
    font-family: "TLakes-Medium";
    font-size: 16px;
    background: #F8F8F8;
    border: none;
    font-weight: 500;
    padding-left: 24px;
    display: none;
    transition: 0.2s; 
}
.container__button-showMore:hover {
    transform: scale(1.2);
}
.container__button-showMore::before {
    position: absolute;
    content: url(./static/icons.svg);
    margin-left: -17px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .swiper__header{
        padding-left: 24px;
    }
    .container {
        padding-left: 24px;
        padding-bottom: 34px;
    }
    .main__swiper {
        display: flex;
        flex-wrap: wrap;
        height: 159px;
        overflow: hidden;
        margin: 24px 0px 24px 0px;
    }
    .swiper-pagination-bullet{
        display: none;
    }
    .main__brend {
        width: 207px;
        margin-bottom: 16px;
        margin-right: 24px;
    }
    .main__brend:nth-child(3n+3) {
        margin-right: 0px;
    }
    .container__button-showMore {
        display: block;
    }
    .container::after{
        display: none;
    }


    .container__button-showMore:hover {
        cursor: pointer;
    }
    .main__swiper-showMore_active {
        height: auto;
        
    }
    .container__button-showMore_active::before {
        transform: rotate(180deg);
    }
}
@media (min-width: 984px) {
    .main__brend:nth-child(3n+3) {
        margin-right: 24px;    
    }
    .swiper-pagination-bullet{
        display: none;
    }
}
@media (min-width: 1120px) {
    .swiper__section {
        display: flex;
        flex-direction: column;
    }
    .swiper__header {
        padding-left: 32px;
        width: 1103px;
    }
    .container {
        padding-left: 32px;
    }
    .main__swiper-wrapper {
        margin: 24px 33px 34px 0px;
    }
    .main__brend {
        min-width: 227px;
        margin-right: 32px;
    }
    .main__brend:nth-child(3n+3) {
        margin-right: 32px;
    }
    .main__brend:nth-child(4n+4) {
        margin-right: 0px;
    }
    .main__brend:nth-child(9),
    .main__brend:nth-child(10),
    .main__brend:nth-child(11) {
        margin-bottom: 0px;
    }
    .swiper-pagination-bullet{
        display: none;
    }
}
@media (min-width: 1383px){
    .main__brend:nth-child(4n+4) {
        margin-right: 32px;
    }
        .main__brend {
            min-width: 317px;
}
}
@media (min-width: 1558px) {
    .swiper__section {
        top: 460px;
        position: static;
      
    }
}

.swiper-pagination{
    bottom: 0;
}
.device-type__wrapper{
     width: auto;
    margin: 16px 0px 16px 0px;
}

.content-block{
    display: inline-block;
    position: relative;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    height: 307px;
}
.content-title{
    background: linear-gradient(90deg,  #F8F8F8 0%, #FFFFFF 100%);
    border-top: 3px solid #D9FFF5;
    padding: 16px 16px 16px 32px ;
    text-transform: uppercase;
    font-size: 16px;
    color: #7E7E82;
    line-height: 24px;
    font-family: "TT Lakes";
}

.content-inner__wrapper{
    padding-left: 28px;
}

.wrapper__device{
    font-family: 'TLakes-Medium';
    display: inline block;
    width: 240px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    position: relative;
    height: 160px;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 16px;
  
}
.device__link{
    margin-top: 85px;
    height: 40px;
    width: 40px;
    right: 16px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#FFFFFF url(./static/dropdown.svg) no-repeat center;
    border:2px solid #FF3E79; 
    cursor: pointer;
    transition: width 0.5s,height 0.5s, background-color 0.5s, transform 0.5s;
}
.device__link:hover{
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
.wrapper__open {
    position: relative;
    font-family: "TLakes-Medium";
    font-size: 16px;
    background: #F8F8F8;
    border: none;
    font-weight: 500;
    display: none;
    transition: 0.2s; 
    padding-left: 22px;
}
.wrapper__open:hover {
    transform: scale(1.2);
}
.wrapper__open::before {
    position: absolute;
    content: url(./static/icons.svg);
    margin-left: -17px;
    cursor: pointer;
}
@media (min-width: 768px) {

    .content-block {
        height: auto;
        padding-bottom: 28px;
    }
    .wrapper__open {
        display: block;
    }
    .content-inner__wrapper{
        position: relative;
        
    }
    .device-type__wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 159px;
    overflow: hidden;
      
        margin: 24px 0px 24px 0px;
    }
    .wrapper__device {
        width: 204px;
        margin-bottom: 16px;
        margin-right: 24px;
    }
    
    .wrapper__open:hover {
        cursor: pointer;
    }
    .device-type__wrapper_active {
        height: auto;
    }
    .wrapper__open_active::before {
        transform: rotate(180deg);
    }
    .swiper-pagination{
        display: none;
    }
}
@media (min-width: 1120px) {
.wrapper__device{
    width: 322px;
}
}
@media (min-width: 1440px) {
    .wrapper__device{
        padding-left: 16px;
    }
    .wrapper__device{
        width: 322px;
    }
}



    .content__infoSlider{
display: none;
    }

@media (min-width: 767px){
.swiper__infoWrapper{
    background-color: #F8F8F8;
}
.content__infoSlider{
    position: relative;
    display: flex;
    flex-direction: column;

}

.info-type__slider:first-of-type {
    background-color: #F8F8F8;
    margin-bottom: 16px;
    width: 590px;
}

.content__info{
    background: linear-gradient(90deg,  #F8F8F8 0%, #FFFFFF 100%);
    border-top: 3px solid #D9FFF5;
    padding: 16px 16px 16px 32px ;
    text-transform: uppercase;
    font-size: 16px;
    color: #7E7E82;
    line-height: 24px;
    font-family: "TT Lakes";
}
.info__link{
    background-color:#FF3E79; 
    background-image: url(./static/zakaz.svg);
    border:none;
    border-radius: 16px;
    Font-size: 12px;
    font-family: 'TTLakes-Bold.ttf';
    Width:118px;
    Height:32px;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}

.infoInner__slider{
    display: inline;
    width: 100%;
    padding-left: 28px;
    padding-bottom: 28px;
    padding-top: 16px;
    background-color: #F8F8F8;
}
.info-type__slider{
    background-color: #FFFFFF;
    width: 723px;
    border-radius: 6px;
    position: relative;
  
    height: 100%;
    z-index: 1;
    display: flex;
    

}

.info-type__slider:first-of-type{
    background-color: #F8F8F8;
    margin-bottom: 16px; 
}
.wrapper__info{
    font-family: 'TTLakesCondensed-Regular.ttf';
    Size: 14px;
    Line-height: 18px;
    position: relative;
    padding-right: 16px;
    width: 167px;
    padding-left: 20px;
    padding-top: 16px;
}
td.wrapper__info:nth-child(4n){
    width: 126px;
}

td.wrapper__info:first-child{
    width:768px;
}

td.wrapper__info:nth-child(3){
    width:208px;
}
}
@media (min-width: 1012px) {
    .info-type__slider {
        width: 961px;
}
.info-type__slider:first-of-type {
   
    width: 810px;
}
}
@media (min-width: 1120px){
    .info-type__slider {
        width: 1060px;
    }
    .info-type__slider:first-of-type {
        width: 903px;
    }
}
@media (min-width: 1258px){
    .info-type__slider {
        width: 1202px;
    }
    .info-type__slider:first-of-type {
        width: 1047px;
    }
    }
@media (min-width: 1440px){
.info-type__slider {
    width: 1063px;
}
.info-type__slider:first-of-type {
    width: 914px;
}
}
.content-inner__infoSlider{
    padding-left: 16px;
}
.price__infoSlider{
    display: inline-block;
    position: relative;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    height: 344px;
}
.price__wrapper{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    position: relative;
    width: 226px;
    height: 175px;
    padding: 16px;
}
.price__link{
    background-color:#FF3E79; 
    background-image: url(./static/zakaz.svg);
    border:none;
    border-radius: 16px;
    Font-size: 12px;
    font-family: 'TTLakes-Bold.ttf';
    Width:118px;
    Height:32px;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}
.price-type__wrapper{
    width: auto;
    margin: 16px 0px 16px 0px;
}
.price__wrapperTitle{
    left: 0;
    display: inline;
    line-height: 1px;
    font-family:'TTLakesCondensed-Medium.ttf';
    padding-bottom: 10px;
}
.price__wrapperInfo{
    line-height: 14px;
    font-family: 'TTLakesCondensed-Regular.ttf';
    height: 34px;
}
.price__wrapperInfo:last-child {
    display: flex;
    justify-content: space-between;
}
.price__text {
    font-family: 'TTLakesCondensed-Regular.ttf';
    font-size: 14px;
    letter-spacing: 0.2px;
    background: #F8F8F8;
}
.price{
    min-width: 320px;
    background-color: #F8F8F8;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 16px;
}
.priseText__link {
    font-family:'TTLakesCondensed-Medium.ttf';
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 16px 0 0 0;
    color: #1b1c21;
   
}
.priseText__link::after{
    content:url(./static/Line.svg);
    margin-left: 10px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .price__infoSlider{
        display: none;
    }
    .price__text{
        padding-right: 323px;
    }
}
@media (min-width: 1440px) {
.price__text{
    padding-right: 668px;
}
}
.footer{
    display: flex;
    flex-direction: column;
    font-family: "TTLakes";
    font-size: 14px;
    color: #7e7e82;
    padding-bottom: 20px;
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
}
.footer__text{
    margin: 16px 16px 0 16px;
    line-height: 16px;
    text-align: center;
}
@media (min-width: 768px){
.footer {
    flex-direction: row;
    padding: 32px 24p 24px 25px;
    justify-content: space-between;
}
.footer__text{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    flex-basis: 33%;
}
}
@font-face {
  font-family: 'TTLakes-Bold.ttf';
  src: url(./fonts/TTLakes-Bold.ttf);
  Font-style: Bold;
  Font-size: 28px;
  color: #1B1C21; }

@font-face {
  font-family: 'TTLakesCondensed-Medium.ttf';
  src: url(./fonts/TTLakes-Medium.ttf); }

@font-face {
  font-family: 'TTLakesCondensed-Regular.ttf';
  src: url(./fonts/TTLakesCondensed-Regular.ttf);
  Fill: Solid;
  color: #1B1C21; }

.container {
  margin: auto;
  background: #F8F8F8; }

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0; }


/*# sourceMappingURL=style.css.map*/