

.aside{
    display: flex;
   
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    z-index: 10;
    position: fixed;
   overflow-y: scroll;
    top: 0;
    transition: all 0.5s;
     opacity: .95;
}
.aside.open-menu{
    visibility: visible;
}
.aside__header{
    margin:23px 24px 32px 24px; 
  
  
    min-width: 320px;
    display: flex;
    align-items: center;
}
.aside__main{
    width: 320px; 
    flex-direction: column;
    justify-content: space-around;
}
.aside__footer{
    justify-content: space-between;
    display: block;
    margin-top: 217px;
    margin-left: 24px;
}
.aside__header-img{
    position: absolute;
    top: 24px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.aside__header-img:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.contact__mail{
    margin: 16px 0 12px 0;
    transition: 0.5s; 
    display: block;
    cursor: pointer; 
    }
    .contact__mail:hover {
        transform: scale(1.2);
    }
    .contact__mail-link{
        text-decoration: none;
        color: #1B1C21;
        font-family:'TTLakesCondensed-Medium.ttf';
    }
    .contact__phone{
        font-family:'TTLakes-Bold.ttf';
        Font-size: 24px;
        color: #1B1C21;
    text-decoration: none;
    transition: 0.5s; 
    display: block; 
    cursor: pointer;
    }
    .contact__phone:hover {
        transform: scale(1.2);
    }
    @media (min-width:360px) {
        .aside{
            width: 360px;
        }
    }
    @media (min-width:768px){
        .aside{
            width: 320px;
            box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
           
        }}
        @media (min-width:1120px){
       
        }
        @media (min-width:1440px){
            .body{
                display: flex;
            }
            .aside{
            box-shadow: none;
            max-width: 310px;
            position: absolute;
            overflow :hidden;
            z-index: 10;
            display: flex;
            display: block;
            visibility: visible;
        }
        .aside__header{
            margin-top: 47px;
        }
        .aside__header-img{
            margin-top: 47px;
        }
        }
       