.container__wrapper-fade{
    opacity: 0.1;
    pointer-events: none;
}
.container__wrapper{
  overflow: hidden;
}

@media (min-width:1440px){
 .container__wrapper{
   width: 1120px;
   position: relative;
   left: 311px;
 }
.body{
  overflow-x:hidden;
  background-color: #F2F2F2;
}
}