.container__wrapper-fade{
    opacity: 0.1;
    pointer-events: none;
}
.container__wrapper{
  overflow: hidden;
}

@media (min-width:1440px){
 .container__wrapper{
   width: 1120px;

 }
.body{
  overflow-x:hidden;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
}
.body-fade{
  opacity: 0.1;
  pointer-events: none;
}
}