.footer__button-lang{
    margin: 8px 0 0 0;
  }
  .footer__button-ru{
      font-family:'TTLakesCondensed-Medium.ttf';
      border: 0;
      background: #FFFFFF;
      cursor: pointer;
      transition: 0.5s;  
      cursor: pointer;
  }
  .footer__button-ru:hover {
      transform: scale(1.2);
  }
  .footer__button-en{
      font-family:'TTLakesCondensed-Medium.ttf';
      border: 0;
      background: #FFFFFF;
      cursor: pointer;
      transition: 0.5s;  
  }
  .footer__button-en:hover {
      transform: scale(1.2);
  }
  .footer__button-ch{
      font-family:'TTLakesCondensed-Medium.ttf';
      border: 0; 
      background: #FFFFFF;
      cursor: pointer;
      transition: 0.5s;  
  }
  .footer__button-ch:hover {
      transform: scale(1.2);
  }
  .footer__button-ru:active:hover{
      text-decoration: none;
      color: #1B1C21;
  }
  .footer__button-en:active:hover{
      text-decoration: none;
      color: #1B1C21;
  }
  .footer__button-ch:active:hover{
      text-decoration: none;
      color: #1B1C21;
  }
  .footer__button-ru:focus{
      color: #7E7E82;
  }
  .footer__button-en:focus{
      color: #7E7E82;  
  }
  .footer__button-ch:focus{
      color: #7E7E82;  
  }
  @media (min-width:768px){
    .aside__footer{
        margin-top: 236px;
    }}