
.main__description{
    width: 100%;
    display: flex;
    flex-direction: column ;
    background: #F8F8F8;
}

      .main__text{
        font-family: 'TTLakesCondensed-Regular.ttf';
        color: #1B1C21;
        Font-size: 14px;
      }
   .text__main-text{
       margin-bottom: 16px;
       margin-left:16px;
       width: 288px;
   }
.text__main-textTablet, .text__main-textDesctop{
    display: none;
    
}
.text__main-textAdd-more{
    display: none;
}
.text__main-textAdd-more-active{
    height: auto; 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 244px;
    overflow: hidden;
}
.text__img {
    Width :320px;
    margin-top: 16px;
    margin-bottom: 36px;
    }
    @media (min-width:768px) {
     
        .main__description{
            width: 100%;
            flex-direction: row;
        }
        .main__text{
            margin-left: 24px;
        }
             .text__main-textDesctop{
                display: inline;
                Width: 312px;
                Height:160px;
                margin-bottom: 10px;
                margin-left: 0;
                display: none;
             }
             .text__main-textTablet-close{
                 display: none;
             }
             .text__main-textTablet{
                 display: inline;
                 Width: 312px;
                 Height:160px;
                 margin-bottom: 10px;
                 margin-left: 0;
             }
            
         .text__img{
             width: 360px;
            display: block;
            border-radius: 2%;
            margin: 0 25px 40px 80px;
            width: 360px;
            height: 200px;
             }
         }
         @media  (min-width:1120px){
        .text__img{
            width: 600px;
            margin-left: 203px;
            height: 300px;
        } 
        }
         @media  (min-width:1440px){
          
            .main__description{
                    background: #F8F8F8;
                    width: 100%;
                }
            .main__text{
                margin-left: 34px;
                margin-top: 20px;
            }
         
          
            .text__img{
                width: 532px;
             border-radius: 2%;
             margin:0 30px 44px 230px;

                }
          
            }
            @media  (min-width:1800px){
                .main__description{
                    margin: auto;
                }
            }