.content-inner__infoSlider{
    padding-left: 16px;
}
.price__infoSlider{
    display: inline-block;
    position: relative;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    height: 344px;
}
.price__wrapper{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    position: relative;
    width: 226px;
    height: 175px;
    padding: 16px;
}
.price__link{
    background-color:#FF3E79; 
    background-image: url('../img/zakaz.svg');
    border:none;
    border-radius: 16px;
    Font-size: 12px;
    font-family: 'TTLakes-Bold.ttf';
    Width:118px;
    Height:32px;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}
.price-type__wrapper{
    width: auto;
    margin: 16px 0px 16px 0px;
}
.price__wrapperTitle{
    left: 0;
    display: inline;
    line-height: 1px;
    font-family:'TTLakesCondensed-Medium.ttf';
    padding-bottom: 10px;
}
.price__wrapperInfo{
    line-height: 14px;
    font-family: 'TTLakesCondensed-Regular.ttf';
    height: 34px;
}
.price__wrapperInfo:last-child {
    display: flex;
    justify-content: space-between;
}
.price__text {
    font-family: 'TTLakesCondensed-Regular.ttf';
    font-size: 14px;
    padding: 0 16px 0 16px;
    letter-spacing: 0.2px;
    background: #F8F8F8;
}
.price{
    width: 100%;
    background-color: #F8F8F8;
    padding-bottom: 50px;
    padding-left: 16px;
}
.priseText__link {
    font-family:'TTLakesCondensed-Medium.ttf';
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 16px 16px 0 16px;
    color: #1b1c21;
    background: #F8F8F8;
}
.priseText__link::after{
    content:url('../img/Line.svg');
    margin-left: 10px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .price__infoSlider{
        display: none;
    }
    .price__text{
        padding-right: 323px;
    }
}
@media (min-width: 1440px) {
.price__text{
    padding-right: 668px;
}
}